<!DOCTYPE html>
<html lang="{{ page.data.lang }}" prefix="og: https://ogp.me/ns#">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{{ site.description }}">
        <link href="/static/icon.webp?h={{ site.data.hashes.static.icon-webp }}" rel="icon" type="image/webp">
        <link href="/static/style.css?h={{ site.data.hashes.static.style-css }}" rel="stylesheet" type="text/css">
        {% assign length_without_slash = page.permalink | size | minus: 1 %}<title>{{ site.title }}{% unless page.permalink == '' %} - {{ page.permalink | slice: 0, length_without_slash }}{% endunless %}</title>
        <meta name="robots" content="noai,noimageai">
        <meta property="og:type" content="website">
        <meta property="og:title" content="{% unless page.permalink == '' %}{{ page.permalink | slice: 0, length_without_slash }}{% else %}Main page{% endunless %}">
        <meta property="og:site_name" content="{{ site.title }}">
        <meta property="og:description" content="{{ site.description }}">
        <meta property="og:url" content="{{ site.base_url }}/{{ page.permalink }}">
        <meta property="og:image" content="{{ site.base_url }}/static/icon.webp">
        <meta property="og:image:type" content="image/webp">
        <meta property="og:image:alt" content="A flow field - many colourful lines bending and wrapping around each other - in trans pride colours">
    </head>
    <body>
        <header>
            <nav>
                <h1>
                    <a href="/">{{site.title}}</a>{% unless page.permalink == "" %}{% assign path = page.permalink | slice: 0, length_without_slash | split: "/" %}{% assign i = 0 %}
                    {% for p in path %} - <a href="{% for j in (0..i) %}/{{path[j]}}{% endfor %}/">{{ p }}</a>{% assign i = i | plus: 1 %}{% endfor %}
                {% endunless %}</h1>
            <nav>
       	</header>
        <main>
            {{ page.content }}
            <nav>
                <ul>
                    {[- range $element := listFiles "{{ page.permalink }}"]}
                    {[- if and (eq (ext $element) "") (ne $element "static") ]}
                    <li><a href="{[html $element]}/">{[html $element]}</a></li>
                    {[- end]}
                    {[- end]}
                </ul>
            </nav>
        </main>
    </body>
</html>
